.gitignore
*csv
*def
*sty
Students_Checklist_by_Seat.pdf
Students_Checklist_by_Seat.txt
Students_Seating_Plan_by_Lastname.pdf
Students_Seating_Plan_by_Lastname.txt
Students_Seating_Plan_Table_Format.html
*.idea
